@import "../mixins.scss";

.footer {
  position: relative;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 100px;

  &__blocks {
    position: relative;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &+& {
      margin-left: 95px;
    }
  }

  &__subtitle {
    color: #282828;
    @include Exo-medium;
    font-size: 22px;
    margin-bottom: 30px;

    &_company {
      position: relative;
      z-index: 5;
      color: #2c2f49;
      @include Lato;
      font-size: 27px;
      line-height: 33.6px;

      & span {
        position: relative;
        z-index: 5;
        color: #ffffff;
      }
    }

    &_logo {
      z-index: 3;
      position: absolute;
      right: -12px;
      bottom: 45%;
      transform: translateY(50%);
    }
  }

  &__content {
    color: rgba(40, 40, 40, 0.5);
    @include Exo-medium;
    font-size: 14px;
    line-height: 30px;

    &_company {
      width: 235px;
      line-height: 26px;
    }
  }

  &__links {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: rgba(40, 40, 40, 0.5);
  }

  &__social {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-link img {
      filter: contrast(0);
      opacity: 0.5;

      &:hover {
        filter: contrast(1);
        opacity: 1;

      }
    }

    &-link+&-link {
      margin-left: 30px;
    }
  }

  &__triangle {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 335px solid #fb8686;
    border-left: 340px solid transparent;
  }
}