@import '../mixins.scss';

.h1 {
  color: #282828;
  @include Exo-thin;
  font-size: 60px;
  line-height: 75px;
  text-align: center;
  margin: 0;


  & span {
    display: block;
  }
}

.h2 {
  margin: 0;
  color: #282828;
  @include Exo-medium;
  font-size: 40px;

  &__dots {
    color: #ff6d6d;
  }

  &_center {
    text-align: center;
  }

  &_white {
    color: #fff;
  }
}

.h3 {
  margin: 0;
  color: rgb(75, 66, 66);
  @include Exo-medium;
  font-size: 22px;

  &_center {
    text-align: center;
  }
}


.label {
  margin-top: 0;
  margin-bottom: 16px;
  color: #ff6d6d;
  font-family: Exo;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;

  &_center {
    text-align: center;
  }
}

.p {
  margin: 0;
  @include Exo-medium;
  color: rgba(40, 40, 40, 0.6);
  font-size: 16px;

  &_center {
    text-align: center;
  }

  &+& {
    margin-top: 40px;
  }

  .h2~& {
    margin-top: 45px;
  }

  .h3~& {
    margin-top: 20px;
  }
}