@import '../mixins.scss';

.mainblock {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: center / cover no-repeat url("../img/main-bg.jpg");

  &__playvideo {
    margin-top: 45px;
    margin-bottom: 40px;
    cursor: pointer;

    @media (max-width: 575px) {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    &:hover {
      filter: brightness(90%);
    }

    &:active {
      filter: brightness(100%);
    }
  }

  &__info {
    margin-top: 20px;
    margin-bottom: 0;
    @include Exo;
    color: rgba(40, 40, 40, 0.6);
    font-size: 14px;
  }
}