@import 'libs/normalize';
@import '../fonts/fonts.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: Exo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.container {
  padding-left: 150px;
  padding-right: 150px;

  @media (max-width: 992px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (max-width: 575px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@import 'blocks/headings';
@import 'blocks/button';
@import 'blocks/main';
@import 'blocks/about';
@import 'blocks/features';
@import 'blocks/design';
@import 'blocks/company';
@import 'blocks/interface';
@import 'blocks/contact';
@import 'blocks/form';
@import 'blocks/footer';
@import 'blocks/video';