@import 'libs/normalize';
@import '../fonts/fonts.scss';

* {
  box-sizing: border-box;
}

.container {
  padding-left: 150px;
  padding-right: 150px;
}

@import 'blocks/headings';
@import 'blocks/button';
@import 'blocks/main';
@import 'blocks/about';
@import 'blocks/features';
@import 'blocks/design';